In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib import style
import numpy as np
import os
from sklearn.linear_model import LinearRegression

In [12]:
pd.core.common.is_list_like = pd.api.types.is_list_like

In [13]:
import pandas_datareader.data as web

Calculating Ln of return rate

In [4]:
def ex_returnrate(filename):
    filename = filename
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Turnover']
    f = pd.read_excel(filename,skiprows=[0,1],header=None,names=columns)
    f = f.set_index('Date')
    f['shift1'] = f['Close'].shift(1)
    f['Returnofday'] = f.apply(lambda x:np.log(x['Close']/x['shift1']),
                               axis=1)
    df_cal = f['Returnofday'].resample('W').mean()*5
    df_cal = pd.DataFrame(df_cal)
    return df_cal

In [5]:
tickers = os.listdir('/Users/ally/AI/data/price data')

In [6]:
dir = '/Users/ally/AI/data/price data/'

In [7]:
for i,ticker in enumerate(tickers):
    filename = dir+ticker
    df = ex_returnrate(filename)
    df.to_excel('/Users/ally/AI/data/returnrate data/{}'.format(ticker))
    if i % 50 == 0:
        print(i)

0

/Users/ally/anaconda3/envs/tfquant/lib/python3.5/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in log
  import sys
/Users/ally/anaconda3/envs/tfquant/lib/python3.5/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys
/Users/ally/anaconda3/envs/tfquant/lib/python3.5/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in double_scalars
  import sys
/Users/ally/anaconda3/envs/tfquant/lib/python3.5/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

KeyboardInterrupt:

In [75]:
ticker_new = os.listdir('/Users/ally/AI/data/returnrate data')
len(ticker_new)

300

In [76]:
dif = [x for x in ticker_new if x not in tickers]

In [77]:
dif

[]

Calculating alpha

In [78]:
risk_free = 3.645/100   #十年期国债利率

In [79]:
freq = 'S'

In [24]:
def lireg(x,y):
    
    model = LinearRegression()
    model.fit(x,y)
    return model.intercept_

In [29]:
df_x = pd.read_excel('data/sh300returnrate.xlsx',
                     index_col=0,header=0,names=['market'])

In [30]:
df_x.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>market</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005-04-10</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-04-17</th>
      <td>-0.029706</td>
    </tr>
    <tr>
      <th>2005-04-24</th>
      <td>-0.036571</td>
    </tr>
    <tr>
      <th>2005-05-01</th>
      <td>-0.007160</td>
    </tr>
    <tr>
      <th>2005-05-08</th>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
df_y = pd.read_excel('data/returnrate data/SH600008.xlsx',
                     index_col=0,header=0,names=['company'])

In [33]:
df_y.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>company</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2000-04-30</th>
      <td>7.265505e-01</td>
    </tr>
    <tr>
      <th>2000-05-07</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2000-05-14</th>
      <td>7.878088e-02</td>
    </tr>
    <tr>
      <th>2000-05-21</th>
      <td>1.503788e-02</td>
    </tr>
    <tr>
      <th>2000-05-28</th>
      <td>9.020562e-17</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
df = pd.concat([df_x,df_y],axis=1,join='outer',join_axes=[df_y.index])
df = df.replace([np.inf,-np.inf],np.nan)
df = df.dropna(axis=0)

In [38]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>market</th>
      <th>company</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005-04-17</th>
      <td>-0.029706</td>
      <td>-0.041385</td>
    </tr>
    <tr>
      <th>2005-04-24</th>
      <td>-0.036571</td>
      <td>0.027780</td>
    </tr>
    <tr>
      <th>2005-05-01</th>
      <td>-0.007160</td>
      <td>-0.013793</td>
    </tr>
    <tr>
      <th>2005-05-15</th>
      <td>-0.049308</td>
      <td>0.013793</td>
    </tr>
    <tr>
      <th>2005-05-22</th>
      <td>-0.005400</td>
      <td>-0.107209</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
df_cal = df.resample('Q').apply(lambda x:lireg(x[['market']],x['company']))

In [40]:
df_cal.head()

Date
2005-06-30    0.024418
2005-09-30    0.019588
2005-12-31    0.012239
2006-03-31   -0.020972
2006-06-30   -0.031789
Freq: Q-DEC, dtype: float64

In [41]:
type(df_cal)

pandas.core.series.Series

In [43]:
df_cal.to_frame(name='company')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>company</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005-06-30</th>
      <td>0.024418</td>
    </tr>
    <tr>
      <th>2005-09-30</th>
      <td>0.019588</td>
    </tr>
    <tr>
      <th>2005-12-31</th>
      <td>0.012239</td>
    </tr>
    <tr>
      <th>2006-03-31</th>
      <td>-0.020972</td>
    </tr>
    <tr>
      <th>2006-06-30</th>
      <td>-0.031789</td>
    </tr>
    <tr>
      <th>2006-09-30</th>
      <td>-0.007854</td>
    </tr>
    <tr>
      <th>2006-12-31</th>
      <td>-0.020888</td>
    </tr>
    <tr>
      <th>2007-03-31</th>
      <td>0.039085</td>
    </tr>
    <tr>
      <th>2007-06-30</th>
      <td>-0.001181</td>
    </tr>
    <tr>
      <th>2007-09-30</th>
      <td>-0.067696</td>
    </tr>
    <tr>
      <th>2007-12-31</th>
      <td>0.014928</td>
    </tr>
    <tr>
      <th>2008-03-31</th>
      <td>0.010562</td>
    </tr>
    <tr>
      <th>2008-06-30</th>
      <td>-0.016203</td>
    </tr>
    <tr>
      <th>2008-09-30</th>
      <td>-0.010007</td>
    </tr>
    <tr>
      <th>2008-12-31</th>
      <td>0.020046</td>
    </tr>
    <tr>
      <th>2009-03-31</th>
      <td>-0.016664</td>
    </tr>
    <tr>
      <th>2009-06-30</th>
      <td>-0.009002</td>
    </tr>
    <tr>
      <th>2009-09-30</th>
      <td>-0.004593</td>
    </tr>
    <tr>
      <th>2009-12-31</th>
      <td>0.000710</td>
    </tr>
    <tr>
      <th>2010-03-31</th>
      <td>0.008426</td>
    </tr>
    <tr>
      <th>2010-06-30</th>
      <td>-0.004522</td>
    </tr>
    <tr>
      <th>2010-09-30</th>
      <td>-0.003887</td>
    </tr>
    <tr>
      <th>2010-12-31</th>
      <td>0.006855</td>
    </tr>
    <tr>
      <th>2011-03-31</th>
      <td>-0.010415</td>
    </tr>
    <tr>
      <th>2011-06-30</th>
      <td>-0.008471</td>
    </tr>
    <tr>
      <th>2011-09-30</th>
      <td>0.004172</td>
    </tr>
    <tr>
      <th>2011-12-31</th>
      <td>0.022206</td>
    </tr>
    <tr>
      <th>2012-03-31</th>
      <td>-0.015918</td>
    </tr>
    <tr>
      <th>2012-06-30</th>
      <td>-0.002439</td>
    </tr>
    <tr>
      <th>2012-09-30</th>
      <td>-0.011245</td>
    </tr>
    <tr>
      <th>2012-12-31</th>
      <td>-0.002357</td>
    </tr>
    <tr>
      <th>2013-03-31</th>
      <td>0.058688</td>
    </tr>
    <tr>
      <th>2013-06-30</th>
      <td>0.002501</td>
    </tr>
    <tr>
      <th>2013-09-30</th>
      <td>0.001333</td>
    </tr>
    <tr>
      <th>2013-12-31</th>
      <td>0.004981</td>
    </tr>
    <tr>
      <th>2014-03-31</th>
      <td>0.019265</td>
    </tr>
    <tr>
      <th>2014-06-30</th>
      <td>-0.003080</td>
    </tr>
    <tr>
      <th>2014-09-30</th>
      <td>0.012179</td>
    </tr>
    <tr>
      <th>2014-12-31</th>
      <td>0.002604</td>
    </tr>
    <tr>
      <th>2015-03-31</th>
      <td>0.008872</td>
    </tr>
    <tr>
      <th>2015-06-30</th>
      <td>-0.011348</td>
    </tr>
    <tr>
      <th>2015-09-30</th>
      <td>0.002347</td>
    </tr>
    <tr>
      <th>2015-12-31</th>
      <td>-0.010442</td>
    </tr>
    <tr>
      <th>2016-03-31</th>
      <td>-0.005710</td>
    </tr>
    <tr>
      <th>2016-06-30</th>
      <td>0.004044</td>
    </tr>
    <tr>
      <th>2016-09-30</th>
      <td>0.004696</td>
    </tr>
    <tr>
      <th>2016-12-31</th>
      <td>-0.006011</td>
    </tr>
    <tr>
      <th>2017-03-31</th>
      <td>-0.000513</td>
    </tr>
    <tr>
      <th>2017-06-30</th>
      <td>0.045777</td>
    </tr>
    <tr>
      <th>2017-09-30</th>
      <td>-0.007345</td>
    </tr>
    <tr>
      <th>2017-12-31</th>
      <td>-0.017363</td>
    </tr>
    <tr>
      <th>2018-03-31</th>
      <td>0.007939</td>
    </tr>
    <tr>
      <th>2018-06-30</th>
      <td>-0.013988</td>
    </tr>
    <tr>
      <th>2018-09-30</th>
      <td>-0.008041</td>
    </tr>
  </tbody>
</table>
</div>

In [44]:
def alpha_cal(filename):
    data_dir = 'data/returnrate data/'
    file = data_dir + filename
    # print(file)
    df_x = pd.read_excel('data/sh300returnrate.xlsx',
                     index_col=0,header=0,names=['market'])
    
    df_y = pd.read_excel(file,
                     index_col=0,header=0,names=['company'])
    #df_y['company'] = df_y['company'].map(np.exp)
    df = pd.concat([df_x,df_y],axis=1,join='outer',join_axes=[df_y.index])
    df = df.replace([np.inf,-np.inf],np.nan)
    df = df.dropna(axis=0)
    
    # print(df.head())
    
    df_cal = df.resample('Q').apply(lambda x:lireg(x[['market']],x['company']))
    
    
    df_alpha = df_cal.to_frame(name='alpha')
    
    
    #save_dir = 'data/alpha/'
    #df_alpha.to_excel('data/alpha/{}'.format(filename))
    return df_alpha

In [83]:
tikers = os.listdir('data/returnrate data')

In [84]:
tikers

['SZ300033.xlsx',
 'SZ000898.xlsx',
 'SZ300072.xlsx',
 'SH600019.xlsx',
 'SZ002558.xlsx',
 'SZ000709.xlsx',
 'SH601018.xlsx',
 'SH603160.xlsx',
 'SZ002466.xlsx',
 'SH600170.xlsx',
 'SZ000725.xlsx',
 'SH600977.xlsx',
 'SZ002470.xlsx',
 'SH600023.xlsx',
 'SH600111.xlsx',
 'SH600516.xlsx',
 'SH600900.xlsx',
 'SZ002450.xlsx',
 'SH600795.xlsx',
 'SH600015.xlsx',
 'SZ002153.xlsx',
 'SH600804.xlsx',
 'SZ002411.xlsx',
 'SH601628.xlsx',
 'SZ002714.xlsx',
 'SZ002352.xlsx',
 'SH601669.xlsx',
 'SZ000768.xlsx',
 'SZ000338.xlsx',
 'SH600886.xlsx',
 'SH601901.xlsx',
 'SZ002493.xlsx',
 'SZ002304.xlsx',
 'SH600887.xlsx',
 'SZ000786.xlsx',
 'SZ002241.xlsx',
 'SH601111.xlsx',
 'SH600583.xlsx',
 'SH601238.xlsx',
 'SH601668.xlsx',
 'SH603993.xlsx',
 'SH600346.xlsx',
 'SZ000728.xlsx',
 'SH600741.xlsx',
 'SH600038.xlsx',
 'SH600487.xlsx',
 'SH600690.xlsx',
 'SH601828.xlsx',
 'SZ002555.xlsx',
 'SZ000568.xlsx',
 'SZ002739.xlsx',
 'SH600297.xlsx',
 'SZ002294.xlsx',
 'SZ000895.xlsx',
 'SZ002797.xlsx',
 'SH600188.xlsx',
 'SH601633.xlsx',
 'SZ001965.xlsx',
 'SH600999.xlsx',
 'SH600219.xlsx',
 'SH601808.xlsx',
 'SH600809.xlsx',
 'SZ300024.xlsx',
 'SH600018.xlsx',
 'SZ300136.xlsx',
 'SH601166.xlsx',
 'SH603858.xlsx',
 'SZ000876.xlsx',
 'SZ002236.xlsx',
 'SH601998.xlsx',
 'SH600547.xlsx',
 'SZ002456.xlsx',
 'SZ000938.xlsx',
 'SH601881.xlsx',
 'SH601878.xlsx',
 'SZ000538.xlsx',
 'SH601985.xlsx',
 'SH601012.xlsx',
 'SZ000001.xlsx',
 'SH600068.xlsx',
 'SH600438.xlsx',
 'SH601229.xlsx',
 'SZ300003.xlsx',
 'SZ300015.xlsx',
 'SH600029.xlsx',
 'SZ000060.xlsx',
 'SZ000963.xlsx',
 'SH600398.xlsx',
 'SZ000826.xlsx',
 'SH600009.xlsx',
 'SH601618.xlsx',
 'SH601198.xlsx',
 'SH603799.xlsx',
 'SH601989.xlsx',
 'SH600674.xlsx',
 'SH600048.xlsx',
 'SZ300408.xlsx',
 'SZ002460.xlsx',
 'SH601788.xlsx',
 'SH600176.xlsx',
 'SH600208.xlsx',
 'SZ002572.xlsx',
 'SZ000959.xlsx',
 'SH601225.xlsx',
 'SZ000723.xlsx',
 'SH601360.xlsx',
 'SZ000559.xlsx',
 'SH600588.xlsx',
 'SZ002925.xlsx',
 'SH600926.xlsx',
 'SH600025.xlsx',
 'SZ000627.xlsx',
 'SZ000333.xlsx',
 'SH601009.xlsx',
 'SZ002027.xlsx',
 'SH601398.xlsx',
 'SZ000671.xlsx',
 'SH601727.xlsx',
 'SH601377.xlsx',
 'SH601818.xlsx',
 'SH600570.xlsx',
 'SH603833.xlsx',
 'SZ000630.xlsx',
 'SH601766.xlsx',
 'SH601336.xlsx',
 'SH600177.xlsx',
 'SZ300059.xlsx',
 'SH601988.xlsx',
 'SZ002508.xlsx',
 'SH600008.xlsx',
 'SZ300433.xlsx',
 'SZ002230.xlsx',
 'SH600376.xlsx',
 'SH600233.xlsx',
 'SH600663.xlsx',
 'SZ000503.xlsx',
 'SH600028.xlsx',
 'SH601117.xlsx',
 'SH600585.xlsx',
 'SZ002085.xlsx',
 'SH600340.xlsx',
 'SH601228.xlsx',
 'SZ001979.xlsx',
 'SZ002601.xlsx',
 'SH600383.xlsx',
 'SH600100.xlsx',
 'SH600415.xlsx',
 'SH600157.xlsx',
 'SZ002007.xlsx',
 'SZ002142.xlsx',
 'SH601838.xlsx',
 'SH601992.xlsx',
 'SZ002050.xlsx',
 'SZ000651.xlsx',
 'SH601212.xlsx',
 'SH601006.xlsx',
 'SZ000783.xlsx',
 'SH600705.xlsx',
 'SZ300017.xlsx',
 'SZ300144.xlsx',
 'SH600085.xlsx',
 'SH601155.xlsx',
 'SZ002252.xlsx',
 'SZ002602.xlsx',
 'SH600482.xlsx',
 'SZ002415.xlsx',
 'SH601600.xlsx',
 'SH600011.xlsx',
 'SH601991.xlsx',
 'SH601211.xlsx',
 'SH600050.xlsx',
 'SH600115.xlsx',
 'SH600816.xlsx',
 'SZ000625.xlsx',
 'SH600498.xlsx',
 'SZ002024.xlsx',
 'SH600820.xlsx',
 'SH600089.xlsx',
 'SH600436.xlsx',
 'SH600066.xlsx',
 'SZ002065.xlsx',
 'SZ000776.xlsx',
 'SH600031.xlsx',
 'SH601088.xlsx',
 'SZ000166.xlsx',
 'SH600271.xlsx',
 'SH601899.xlsx',
 'SH601933.xlsx',
 'SH600637.xlsx',
 'SZ002008.xlsx',
 'SH600549.xlsx',
 'SH600660.xlsx',
 'SZ000961.xlsx',
 'SZ000063.xlsx',
 'SH600118.xlsx',
 'SZ300124.xlsx',
 'SH600909.xlsx',
 'SH601898.xlsx',
 'SH601877.xlsx',
 'SH603260.xlsx',
 'SH601318.xlsx',
 'SZ000425.xlsx',
 'SH600362.xlsx',
 'SH600030.xlsx',
 'SH600837.xlsx',
 'SZ002475.xlsx',
 'SH601288.xlsx',
 'SZ000983.xlsx',
 'SH600682.xlsx',
 'SH601601.xlsx',
 'SH600010.xlsx',
 'SH600339.xlsx',
 'SZ002044.xlsx',
 'SH600196.xlsx',
 'SH601857.xlsx',
 'SZ000002.xlsx',
 'SH601800.xlsx',
 'SZ000540.xlsx',
 'SH600704.xlsx',
 'SZ000413.xlsx',
 'SZ000623.xlsx',
 'SH600867.xlsx',
 'SH601688.xlsx',
 'SH601958.xlsx',
 'SH601108.xlsx',
 'SZ002608.xlsx',
 'SH601333.xlsx',
 'SH600522.xlsx',
 'SH601919.xlsx',
 'SZ002736.xlsx',
 'SH601718.xlsx',
 'SZ002673.xlsx',
 'SH600109.xlsx',
 'SZ300027.xlsx',
 'SZ002624.xlsx',
 'SH603288.xlsx',
 'SZ300070.xlsx',
 'SH600332.xlsx',
 'SH600518.xlsx',
 'SH601866.xlsx',
 'SH600959.xlsx',
 'SH600373.xlsx',
 'SH600703.xlsx',
 'SZ000402.xlsx',
 'SZ002468.xlsx',
 'SH600369.xlsx',
 'SH600739.xlsx',
 'SZ002385.xlsx',
 'SH601939.xlsx',
 'SH601186.xlsx',
 'SH601169.xlsx',
 'SH600390.xlsx',
 'SH601997.xlsx',
 'SH600406.xlsx',
 'SZ300251.xlsx',
 'SH601216.xlsx',
 'SZ000069.xlsx',
 'SH601611.xlsx',
 'SH600000.xlsx',
 'SZ002146.xlsx',
 'SH600016.xlsx',
 'SH601607.xlsx',
 'SH600153.xlsx',
 'SZ002500.xlsx',
 'SH600104.xlsx',
 'SZ000839.xlsx',
 'SZ000792.xlsx',
 'SZ002310.xlsx',
 'SH600893.xlsx',
 'SH600606.xlsx',
 'SZ002202.xlsx',
 'SZ002594.xlsx',
 'SH601555.xlsx',
 'SZ002081.xlsx',
 'SH601390.xlsx',
 'SZ000415.xlsx',
 'SH600352.xlsx',
 'SZ000100.xlsx',
 'SH601328.xlsx',
 'SZ000157.xlsx',
 'SH601099.xlsx',
 'SH600372.xlsx',
 'SH600688.xlsx',
 'SH600958.xlsx',
 'SH601021.xlsx',
 'SZ300122.xlsx',
 'SH601888.xlsx',
 'SH600519.xlsx',
 'SH600276.xlsx',
 'SH600919.xlsx',
 'SZ002625.xlsx',
 'SH600221.xlsx',
 'SZ000423.xlsx',
 'SH600489.xlsx',
 'SH600036.xlsx',
 'SH600061.xlsx',
 'SZ002074.xlsx',
 'SH600309.xlsx',
 'SZ000858.xlsx',
 'SH600535.xlsx']

In [85]:
finished = []
unfinished = []

In [86]:
for i,ticker in enumerate(tickers):
    try:
        alpha_cal(ticker)
        finished.append(ticker)
    except:
        unfinished.append(ticker)
    
    continue

In [88]:
unfinished

['SH600019.xlsx',
 'SZ002558.xlsx',
 'SZ000709.xlsx',
 'SH601018.xlsx',
 'SH600900.xlsx',
 'SZ002411.xlsx',
 'SH601669.xlsx',
 'SH601901.xlsx',
 'SZ000786.xlsx',
 'SZ000728.xlsx',
 'SZ002555.xlsx',
 'SZ002739.xlsx',
 'SZ000895.xlsx',
 'SZ000876.xlsx',
 'SZ000938.xlsx',
 'SZ000538.xlsx',
 'SH601989.xlsx',
 'SZ000959.xlsx',
 'SZ000723.xlsx',
 'SH601360.xlsx',
 'SZ000671.xlsx',
 'SH601727.xlsx',
 'SZ000630.xlsx',
 'SZ000503.xlsx',
 'SH600383.xlsx',
 'SH600157.xlsx',
 'SZ000651.xlsx',
 'SZ000783.xlsx',
 'SH600705.xlsx',
 'SZ002252.xlsx',
 'SZ002602.xlsx',
 'SH600482.xlsx',
 'SH601600.xlsx',
 'SH600816.xlsx',
 'SZ002065.xlsx',
 'SZ000776.xlsx',
 'SH600271.xlsx',
 'SH600637.xlsx',
 'SZ000961.xlsx',
 'SH601877.xlsx',
 'SH600682.xlsx',
 'SH600339.xlsx',
 'SZ002044.xlsx',
 'SZ000002.xlsx',
 'SZ000540.xlsx',
 'SH600704.xlsx',
 'SZ002608.xlsx',
 'SH600109.xlsx',
 'SZ002624.xlsx',
 'SH600332.xlsx',
 'SH600959.xlsx',
 'SH600373.xlsx',
 'SH600703.xlsx',
 'SH600369.xlsx',
 'SH601216.xlsx',
 'SH601607.xlsx',
 'SH600153.xlsx',
 'SZ002500.xlsx',
 'SZ000839.xlsx',
 'SZ000792.xlsx',
 'SZ002310.xlsx',
 'SH600893.xlsx',
 'SH600606.xlsx',
 'SZ000415.xlsx',
 'SZ000100.xlsx',
 'SH600372.xlsx',
 'SZ002625.xlsx',
 'SH600221.xlsx',
 'SZ000423.xlsx',
 'SH600309.xlsx']

In [89]:
finished

['SZ300033.xlsx',
 'SZ000898.xlsx',
 'SZ300072.xlsx',
 'SH603160.xlsx',
 'SZ002466.xlsx',
 'SH600170.xlsx',
 'SZ000725.xlsx',
 'SH600977.xlsx',
 'SZ002470.xlsx',
 'SH600023.xlsx',
 'SH600111.xlsx',
 'SH600516.xlsx',
 'SZ002450.xlsx',
 'SH600795.xlsx',
 'SH600015.xlsx',
 'SZ002153.xlsx',
 'SH600804.xlsx',
 'SH601628.xlsx',
 'SZ002714.xlsx',
 'SZ002352.xlsx',
 'SZ000768.xlsx',
 'SZ000338.xlsx',
 'SH600886.xlsx',
 'SZ002493.xlsx',
 'SZ002304.xlsx',
 'SH600887.xlsx',
 'SZ002241.xlsx',
 'SH601111.xlsx',
 'SH600583.xlsx',
 'SH601238.xlsx',
 'SH601668.xlsx',
 'SH603993.xlsx',
 'SH600346.xlsx',
 'SH600741.xlsx',
 'SH600038.xlsx',
 'SH600487.xlsx',
 'SH600690.xlsx',
 'SH601828.xlsx',
 'SZ000568.xlsx',
 'SH600297.xlsx',
 'SZ002294.xlsx',
 'SZ002797.xlsx',
 'SH600188.xlsx',
 'SH601633.xlsx',
 'SZ001965.xlsx',
 'SH600999.xlsx',
 'SH600219.xlsx',
 'SH601808.xlsx',
 'SH600809.xlsx',
 'SZ300024.xlsx',
 'SH600018.xlsx',
 'SZ300136.xlsx',
 'SH601166.xlsx',
 'SH603858.xlsx',
 'SZ002236.xlsx',
 'SH601998.xlsx',
 'SH600547.xlsx',
 'SZ002456.xlsx',
 'SH601881.xlsx',
 'SH601878.xlsx',
 'SH601985.xlsx',
 'SH601012.xlsx',
 'SZ000001.xlsx',
 'SH600068.xlsx',
 'SH600438.xlsx',
 'SH601229.xlsx',
 'SZ300003.xlsx',
 'SZ300015.xlsx',
 'SH600029.xlsx',
 'SZ000060.xlsx',
 'SZ000963.xlsx',
 'SH600398.xlsx',
 'SZ000826.xlsx',
 'SH600009.xlsx',
 'SH601618.xlsx',
 'SH601198.xlsx',
 'SH603799.xlsx',
 'SH600674.xlsx',
 'SH600048.xlsx',
 'SZ300408.xlsx',
 'SZ002460.xlsx',
 'SH601788.xlsx',
 'SH600176.xlsx',
 'SH600208.xlsx',
 'SZ002572.xlsx',
 'SH601225.xlsx',
 'SZ000559.xlsx',
 'SH600588.xlsx',
 'SZ002925.xlsx',
 'SH600926.xlsx',
 'SH600025.xlsx',
 'SZ000627.xlsx',
 'SZ000333.xlsx',
 'SH601009.xlsx',
 'SZ002027.xlsx',
 'SH601398.xlsx',
 'SH601377.xlsx',
 'SH601818.xlsx',
 'SH600570.xlsx',
 'SH603833.xlsx',
 'SH601766.xlsx',
 'SH601336.xlsx',
 'SH600177.xlsx',
 'SZ300059.xlsx',
 'SH601988.xlsx',
 'SZ002508.xlsx',
 'SH600008.xlsx',
 'SZ300433.xlsx',
 'SZ002230.xlsx',
 'SH600376.xlsx',
 'SH600233.xlsx',
 'SH600663.xlsx',
 'SH600028.xlsx',
 'SH601117.xlsx',
 'SH600585.xlsx',
 'SZ002085.xlsx',
 'SH600340.xlsx',
 'SH601228.xlsx',
 'SZ001979.xlsx',
 'SZ002601.xlsx',
 'SH600100.xlsx',
 'SH600415.xlsx',
 'SZ002007.xlsx',
 'SZ002142.xlsx',
 'SH601838.xlsx',
 'SH601992.xlsx',
 'SZ002050.xlsx',
 'SH601212.xlsx',
 'SH601006.xlsx',
 'SZ300017.xlsx',
 'SZ300144.xlsx',
 'SH600085.xlsx',
 'SH601155.xlsx',
 'SZ002415.xlsx',
 'SH600011.xlsx',
 'SH601991.xlsx',
 'SH601211.xlsx',
 'SH600050.xlsx',
 'SH600115.xlsx',
 'SZ000625.xlsx',
 'SH600498.xlsx',
 'SZ002024.xlsx',
 'SH600820.xlsx',
 'SH600089.xlsx',
 'SH600436.xlsx',
 'SH600066.xlsx',
 'SH600031.xlsx',
 'SH601088.xlsx',
 'SZ000166.xlsx',
 'SH601899.xlsx',
 'SH601933.xlsx',
 'SZ002008.xlsx',
 'SH600549.xlsx',
 'SH600660.xlsx',
 'SZ000063.xlsx',
 'SH600118.xlsx',
 'SZ300124.xlsx',
 'SH600909.xlsx',
 'SH601898.xlsx',
 'SH603260.xlsx',
 'SH601318.xlsx',
 'SZ000425.xlsx',
 'SH600362.xlsx',
 'SH600030.xlsx',
 'SH600837.xlsx',
 'SZ002475.xlsx',
 'SH601288.xlsx',
 'SZ000983.xlsx',
 'SH601601.xlsx',
 'SH600010.xlsx',
 'SH600196.xlsx',
 'SH601857.xlsx',
 'SH601800.xlsx',
 'SZ000413.xlsx',
 'SZ000623.xlsx',
 'SH600867.xlsx',
 'SH601688.xlsx',
 'SH601958.xlsx',
 'SH601108.xlsx',
 'SH601333.xlsx',
 'SH600522.xlsx',
 'SH601919.xlsx',
 'SZ002736.xlsx',
 'SH601718.xlsx',
 'SZ002673.xlsx',
 'SZ300027.xlsx',
 'SH603288.xlsx',
 'SZ300070.xlsx',
 'SH600518.xlsx',
 'SH601866.xlsx',
 'SZ000402.xlsx',
 'SZ002468.xlsx',
 'SH600739.xlsx',
 'SZ002385.xlsx',
 'SH601939.xlsx',
 'SH601186.xlsx',
 'SH601169.xlsx',
 'SH600390.xlsx',
 'SH601997.xlsx',
 'SH600406.xlsx',
 'SZ300251.xlsx',
 'SZ000069.xlsx',
 'SH601611.xlsx',
 'SH600000.xlsx',
 'SZ002146.xlsx',
 'SH600016.xlsx',
 'SH600104.xlsx',
 'SZ002202.xlsx',
 'SZ002594.xlsx',
 'SH601555.xlsx',
 'SZ002081.xlsx',
 'SH601390.xlsx',
 'SH600352.xlsx',
 'SH601328.xlsx',
 'SZ000157.xlsx',
 'SH601099.xlsx',
 'SH600688.xlsx',
 'SH600958.xlsx',
 'SH601021.xlsx',
 'SZ300122.xlsx',
 'SH601888.xlsx',
 'SH600519.xlsx',
 'SH600276.xlsx',
 'SH600919.xlsx',
 'SH600489.xlsx',
 'SH600036.xlsx',
 'SH600061.xlsx',
 'SZ002074.xlsx',
 'SZ000858.xlsx',
 'SH600535.xlsx']

In [90]:
unfinished

['SH600019.xlsx',
 'SZ002558.xlsx',
 'SZ000709.xlsx',
 'SH601018.xlsx',
 'SH600900.xlsx',
 'SZ002411.xlsx',
 'SH601669.xlsx',
 'SH601901.xlsx',
 'SZ000786.xlsx',
 'SZ000728.xlsx',
 'SZ002555.xlsx',
 'SZ002739.xlsx',
 'SZ000895.xlsx',
 'SZ000876.xlsx',
 'SZ000938.xlsx',
 'SZ000538.xlsx',
 'SH601989.xlsx',
 'SZ000959.xlsx',
 'SZ000723.xlsx',
 'SH601360.xlsx',
 'SZ000671.xlsx',
 'SH601727.xlsx',
 'SZ000630.xlsx',
 'SZ000503.xlsx',
 'SH600383.xlsx',
 'SH600157.xlsx',
 'SZ000651.xlsx',
 'SZ000783.xlsx',
 'SH600705.xlsx',
 'SZ002252.xlsx',
 'SZ002602.xlsx',
 'SH600482.xlsx',
 'SH601600.xlsx',
 'SH600816.xlsx',
 'SZ002065.xlsx',
 'SZ000776.xlsx',
 'SH600271.xlsx',
 'SH600637.xlsx',
 'SZ000961.xlsx',
 'SH601877.xlsx',
 'SH600682.xlsx',
 'SH600339.xlsx',
 'SZ002044.xlsx',
 'SZ000002.xlsx',
 'SZ000540.xlsx',
 'SH600704.xlsx',
 'SZ002608.xlsx',
 'SH600109.xlsx',
 'SZ002624.xlsx',
 'SH600332.xlsx',
 'SH600959.xlsx',
 'SH600373.xlsx',
 'SH600703.xlsx',
 'SH600369.xlsx',
 'SH601216.xlsx',
 'SH601607.xlsx',
 'SH600153.xlsx',
 'SZ002500.xlsx',
 'SZ000839.xlsx',
 'SZ000792.xlsx',
 'SZ002310.xlsx',
 'SH600893.xlsx',
 'SH600606.xlsx',
 'SZ000415.xlsx',
 'SZ000100.xlsx',
 'SH600372.xlsx',
 'SZ002625.xlsx',
 'SH600221.xlsx',
 'SZ000423.xlsx',
 'SH600309.xlsx']

In [91]:
df_w = pd.read_excel('data/returnrate data/SH600019.xlsx',index_col=0)

In [92]:
df_x = pd.read_excel('data/sh300returnrate.xlsx',
                     index_col=0,header=0,names=['market'])
    #df_x['market'] = df_x['market'].map(np.exp)
    # print(df_x.head())
df_y = pd.read_excel('data/returnrate data/SZ002558.xlsx',
                     index_col=0,header=0,names=['company'])
    #df_y['company'] = df_y['company'].map(np.exp)
df = pd.concat([df_x,df_y],axis=1,join='outer',join_axes=[df_y.index])
df = df.replace([np.inf,-np.inf],np.nan)
df = df.dropna(axis=0)

In [93]:
dd = df.resample('Q').count()

In [94]:
dd[dd['company']<2]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>market</th>
      <th>company</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015-03-31</th>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2015-06-30</th>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2015-09-30</th>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
from statsmodels import regression
import statsmodels.api as sm

In [48]:
def regrd(x,y):
    x = sm.add_constant(x)
    model = regression.linear_model.OLS(x,y).fit()
    return model.params[0]

In [57]:
def alpha_cal_2(filename):
    data_dir = 'data/returnrate data/'
    file = data_dir + filename
    # print(file)
    df_x = pd.read_excel('data/sh300returnrate.xlsx',
                     index_col=0,header=0,names=['market'])
    #df_x['market'] = df_x['market'].map(np.exp)
    # print(df_x.head())
    df_y = pd.read_excel(file,
                     index_col=0,header=0,names=['company'])
    #df_y['company'] = df_y['company'].map(np.exp)
    df = pd.concat([df_x,df_y],axis=1,join='outer',join_axes=[df_y.index])
    df = df.replace([np.inf,-np.inf],np.nan)
    df = df.dropna(axis=0)
    
    # print(df.head())
    
    df_cal = df.resample('Q').apply(lambda x:regrd(x['market'],x['company']))
    
    df_alpha = df_cal.rename(columns={'company':'alpha'})
    
    
    #save_dir = 'data/alpha/'
    #df_alpha.to_excel('data/alpha2/{}'.format(filename))
    return df_alpha